.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.app-toolbar {
  flex-shrink: 0;
  z-index: 10;
}

.panels-wrapper {
  display: flex;
  flex: 1;
  width: 100%;
  overflow: hidden;
}

.panel {
  height: 100%;
  overflow: hidden;
}

.left-panel {
  background-color: #f5f5f5;
  flex-shrink: 0;
  min-width: 200px;
}

.split-resizer {
  flex-shrink: 0;
  z-index: 100;
}

.right-panel {
  flex: 1;
  min-width: 200px;
  background-color: #fafafa;
}
