.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.app-toolbar {
  flex-shrink: 0;
  z-index: 10;
}

.panels-wrapper {
  display: flex;
  flex: 1;
  width: 100%;
  overflow: hidden;
}

.panel {
  flex: 1;
  height: 100%;
  border-right: 1px solid #e0e0e0;
}

.left-panel {
  background-color: #f5f5f5;
}

.right-panel {
  border-right: none;
  background-color: #fafafa;
}
