@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

app-root {
  display: block;
  height: 100%;
  width: 100%;
}
